.mage_open {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.1);
  .mage_img {
    width: 400px;
    margin: 165px 0 0 540px;
    position: absolute;
    transition: 0.5s;
    border-radius: 80px;
    cursor: pointer;
    .mark {
      width: 40px;
      margin-left: 40%;
      position: absolute;
      transition: 0.4s;
    }
    img {
      width: 100%;
    }
  }
  .mage_img:hover {
    transform: scale(1.02);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 26px 18px rgba(255, 255, 255, 0.3);
    .mark {
      transform: scale(1.5);
    }
  }
  .background_img,
  .mage_open_in {
    position: absolute;
    width: 1000px;
    display: block;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .mage_open_in {
    margin-top: 100px;
  }
  @media (max-width: 1440px) {
    .mage_img {
      width: 200px;
      margin: 82px 0 0 270px;
    }
    .background_img,
    .mage_open_in {
      width: 500px;
    }
  }
  @media (max-width: 768px) {
    .mage_img {
      width: 160px;
      margin: 65px 0 0 216px;
    }
    .mage_open_in {
      margin-top: 10px;
    }
    .background_img,
    .mage_open_in {
      width: 400px;
    }
  }
}
