.CastleBlock {
  background-color: #e6e6e6;
  width: 600px;
  margin: 12px auto;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  p {
    text-align: center;
    color: black;
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .CastleBlock {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .CastleBlock {
    width: 360px;
    padding: 0;
    p {
      font-size: 16px;
    }
  }
}
