.ally,
.enemy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: 0 5%;
  .persone {
    width: 50px;
    height: 100px;
    background-color: black;
    transition: 0.1s;
    .choose {
      border-color: rgba(0, 0, 0, 0);
      transition: 0.2s;
      position: absolute;
      margin: 110px 0 0 -10px;
      width: 70px;
    }
    .hp_bar {
      height: 6px;
      border: none;
      background-color: rgb(136, 0, 0);
    }
    .persone_name,
    .persone_hp {
      color: #e6e6e6;
      font-weight: 500;
      margin-top: 2px;
      cursor: default;
    }
    .description {
      position: absolute;
      margin: -20px 0 0 20px;
      width: 200px;
      color: #e6e6e600;
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
      padding: 6px;
      border-radius: 8px 8px 8px 2px;
      transition: 0.4s;
      transition-delay: 0.1s;
      width: 0;
      height: 0;
    }
  }
  .persone:hover {
    .choose {
      display: block;
      border-color: rgb(85, 85, 85);
    }
    .description {
      background-color: rgba(0, 0, 0, 0.5);
      color: #e6e6e6;
      transition-delay: 0.4s;
      width: auto;
      max-width: 400px;
      height: auto;
      font-size: 18px;
    }
  }
  .active_persone {
    .choose {
      display: block;
      border-color: rgb(82, 0, 0) !important;
    }
  }
}
.ally {
  justify-items: end;
  .persone {
    background-color: rgb(116, 90, 90);
  }
}
