.ally,
.enemy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: 0 5%;
  .description_open {
    display: none;
  }
  .persone {
    width: 50px;
    height: 100px;
    background-color: black;
    transition: 0.1s;
    cursor: pointer;
    .damage,
    .health {
      display: inline-block;
      position: absolute;
      color: #6e000000;
      margin-top: -10px;
      font-size: 10px;
      width: 50px;
    }
    .damage {
      text-align: right;
    }
    .health {
      text-align: left;
      margin-left: -10px;
    }
    .damage_add,
    .health_add {
      margin-top: -40px;
      font-size: 18px;
      transition: 0.5s;
    }
    .damage_add {
      color: #6e0000;
    }
    .damage_crit{
      color: #ccb800;
      font-size: 24px;
      font-weight: 700;
    }
    .health_add {
      color: rgb(17, 85, 0);
    }
    .choose {
      border-color: rgba(0, 0, 0, 0);
      transition: 0.2s;
      position: absolute;
      margin: 110px 0 0 -10px;
      width: 70px;
    }
    .hp_bar {
      height: 6px;
      border: none;
      background-color: rgb(136, 0, 0);
    }
    .persone_name,
    .persone_hp {
      color: #e6e6e6;
      font-weight: 500;
      margin-top: 2px;
    }
  }
  .persone:hover {
    .choose {
      display: block;
      border-color: rgb(85, 85, 85);
    }
  }
  .active_persone {
    .choose {
      display: block;
      border-color: rgb(82, 0, 0) !important;
    }
  }
  @media (max-width: 600px) {
    .persone {
      width: 40px;
      height: 80px;
      font-size: 10px;
      .choose {
        margin-top: 85px;
        width: 60px;
      }
    }
  }
  @media (max-width: 800px) {
    .description_open {
      display: block;
      position: absolute;
      width: 30px;
      margin-top: -30px;
    }
  }
}
.ally {
  justify-items: end;
  .persone {
    background-color: rgb(116, 90, 90);
  }
}
