.app {
  cursor: default;
  background-color: slategray;
  position: relative;
  z-index: 0;
  .fast_save, .fast_save_accept{
    position: absolute;
    color: #e6e6e6;
    margin-left: 220px;
    cursor: pointer;
  }
  .fast_save:hover{
    transform: scale(1.05);
  }
  .litl_map {
    position: absolute;
    width: 70px;
    right: 0;
    cursor: pointer;
    margin: 4px;
  }
  .check_orientation {
    display: none;
  }
  .quest_now {
    width: 220px;
    right: 70px;
    top: 0;
    position: absolute;
    z-index: 10;
    h2,
    p {
      color: #e6e6e6;
    }
    h2 {
      cursor: pointer;
    }
  }
  @media (orientation: portrait) {
    .check_orientation {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      z-index: 1100;
      p {
        color: #e6e6e6;
        width: 100vw;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        margin-top: 200px;
      }
    }
  }

  @media (max-height: 700px) {
    .quest_now {
      left: 12px;
      margin-top: 28px;
      font-size: 14px;
    }
  }
  @media (max-width: 700px) {
    .litl_map {
      display: none;
    }
  }
}
