.persone_choose {
  direction: ltr;
  width: 50px;
  height: 100px;
  transition: 0.1s;
  cursor: pointer;
  transition: 0.1s;
  p {
    color: #e6e6e6;
  }
  .hp_bar {
    height: 6px;
    border: none;
    background-color: rgb(136, 0, 0);
  }
  .persone_name,
  .persone_hp {
    font-weight: 500;
    margin-top: 2px;
  }
  img {
    position: absolute;
    width: 50px;
    z-index: -1;
  }
  .lv {
    margin-top: 40px;
  }
}
.persone_choose_choose {
  transform: scale(1.1);
}
