.skill_one {
  width: 40%;
  margin: 10px;
  padding: 6px;
  border-radius: 8px;
  border: 1px black solid;
  cursor: pointer;
  transition: 0.1s;
}
.skill_one:hover {
  transform: scale(1.05);
}
@media (max-height: 500px) {
  .skill_one {
    h2 {
      font-size: 18px;
    }
    p{
        font-size: 14px;
    }
  }
}
